@page "/Flights"
<link rel="stylesheet" href="style.css" 
          class="css" />
<center><h3>Flight Finder</h3></center>

<div id="finder">
    <div class="from">
        <label> From: </label>
        <input type="text"
               class="location-field"
               placeholder="Any" />
    </div>

    <div class="to">
        <label> To: </label>
        <input type="text"
               class="location-field"
               placeholder="Any" />
    </div>

    <div class="day">
        <label> Day: </label>
        <input type="text"
               class="day-field"
               placeholder="Any" />
    </div>

    <button type="button" class="btn">Find Flights</button>
</div>





<center><h3>Flights</h3></center>

<div class="flights">
    <input type="text"
           class="flights-field"
           placeholder="Loading..." />
</div>





<center><h3>Reserve</h3></center>

<div class="flightCode">
    <label> Flight code: </label>
    <input type="text"
           class="flightCode-field"
           placeholder="Flight" />
</div>

<div class="airline">
    <label> Airline: </label>
    <input type="text"
           class="airline-field"
           placeholder="Airline" />
</div>

<div class="day2">
    <label> Day: </label>
    <input type="text"
           class="day2-field"
           placeholder="Day" />
</div>

<div class="time">
    <label> Time: </label>
    <input type="text"
           class="time-field"
           placeholder="Time" />
</div>

<div class="cost">
    <label> Cost: </label>
    <input type="text"
           class="cost-field"
           placeholder="0" />
</div>

<div class="name">
    <label> Name: </label>
    <input type="text"
           class="name-field"
           placeholder="Name" />
</div>

<div class="citizenship">
    <label> Citiizenship: </label>
    <input type="text"
           class="citizenship-field"
           placeholder="Citizenship" />
</div>

<div class="reserve reserve-btn">
    <button type="button" class="btn">Reserve</button><br />
    <div class="reservation-code">
        <span>Reservation code: </span>
    </div>
</div>







@code{

}