@page "/Flights"

<center><h3>Flight Finder</h3></center>
<div class="from">
    <label> From: </label>
    <input type="text"
           class="location-field"
           placeholder="Any" />
</div>

<div class="to">
    <label> To: </label>
    <input type="text"
           class="location-field"
           placeholder="Any" />
</div>

<div class="day">
    <label> Day: </label>
    <input type="text"
           class="day-field"
           placeholder="Any" />
</div>


<center><h3>Flights</h3></center>




<center><h3>Reserve</h3></center>