@page "/Reservations"



<center><h1>Reservations Finder</h1></center>

<div class="code">
    <label> Code: </label>
    <input type="text"
           class="code-field"
           placeholder="Any" />
</div>

<div class="airline2">
    <label> Airline: </label>
    <input type="text"
           class="airline2-field"
           placeholder="Any" />
</div>

<div class="name2">
    <label> Name: </label>
    <input type="text"
           class="name2-field"
           placeholder="Any" />
</div>

<div class="find-reservations">
    <button type="button" class="find-reservations-butn">
        Find reservations
    </button>
</div>




<center><h1>Reservations</h1></center>

<div class="reservations">
    <input type="text"
           class="reservaations-field"
           placeholder="Loading..." />
</div>





<center><h1>Reserve</h1></center>

<div class="reservationCode">
    <label> Reservation code: </label>
    <input type="text"
           class="reservationCode-field"
           placeholder="Flight" />
</div>

<div class="flightCode2">
    <label> Flight code: </label>
    <input type="text"
           class="flightCode2-field"
           placeholder="Airline" />
</div>

<div class="airline2">
    <label> Airline: </label>
    <input type="text"
           class="airline2-field"
           placeholder="Day" />
</div>

<div class="cost2">
    <label> Cost: </label>
    <input type="text"
           class="cost2-field"
           placeholder="Time" />
</div>

<div class="name3">
    <label> Name: </label>
    <input type="text"
           class="name3-field"
           placeholder="0" />
</div>

<div class="citizenship2">
    <label> Citizenship: </label>
    <input type="text"
           class="citizenship2-field"
           placeholder="Name" />
</div>

<div class="status">
    <label> Status: </label>
    <input type="text"
           class="status-field"
           placeholder="Active" />
</div>

<div class="save">
    <button type="button" class="save-butn">
        Save
    </button>
</div>